body{
    margin: 0;
    padding: 0;
    background: rgb(236, 248, 250);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: url(./Login/fondooo.png) no-repeat;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}
.header .imagenferreteria{
    padding-left: 50px;
}
.header .imagenferreteria img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.header .enlaces button{
    background: none;
    border: none;
    margin: auto 10px;
}
.header .enlaces h3{
    color: rgb(183, 189, 248);
}
.header .enlaces h3:hover{
    color: rgb(144, 220, 255);
}
.header .enlaces h3:active{
    color: white;
}
.header .enlacelogin button{
    background-color: rgb(194, 140, 255);
    border-radius: 20px;
    margin: 8px 50px;
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.abajo{
    background: url(./Login/fondooo.png) no-repeat;
    padding: 30px;
    width: 100%;
}
.abajo .textoabajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 85px;
}
.abajo .textoabajo p{
    color:rgb(183, 189, 248);
    font-size: large;
}
.abajo .despedida{
    display: flex;
    justify-content: center;
    text-align: center;
}
.abajo .despedida h3{
    color: rgb(177, 177, 177);
    font-size: x-large;
    margin: auto 10px;
}
.abajo .despedida p{
    color:rgb(218, 221, 255);
    font-size: x-large;
}