.ferreteriaimg img {
  width: 100%;
  display: block;
}
.contenedor-inventario {
  font-family: Arial, sans-serif;
}
.filtros {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
  padding: 15px 25px;
  border-radius: 20px;
}
.filtro {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  min-width: 250px;
  gap: 10px;
  white-space: nowrap; 
}
.filtro input, .filtro select {
  margin-top: 5px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #7c7c7c;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.filtro input:focus, .filtro select:focus {
  border-color: #004aad;
  outline: none;
  box-shadow: 0 0 5px #004aad55;
}
.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.boton-regresar {
  width: 60px;
  height: auto;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 10px;
  position: absolute;
  margin: 20px auto auto 10px;
}
.acciones {
  margin-left: 88.5%;
}
.acciones button {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 40px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #aaa;
}
.acciones button:hover {
  background-color: #f0f0f0;
}
.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
.tabla-productos th {
  background-color: #004aad;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #000000;
}
.tabla-productos td {
  text-align: center;
  padding: 10px;
  border: 1px solid #000000;
}
