.formregistro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 130px 30px 130px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 30px;

}
.uno, .dos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.grupo {
  align-items: center;
  margin: 5px 15px 5px 0; 
}
.grupo label {
  width: 90px;
  font-weight: bold;
  font-size: 13px;
  margin-right: 6px; 
}
.grupo input {
  width: 150px;
  padding: 6px 8px;
  font-size: 13px;
  border: 1.5px solid #7c7c7c;
  border-radius: 6px;
  outline: none;
}
.uno input:focus, .dos input:focus {
  border-color: #5c5c5c;
}
.partedearriba{
  background: white;
  width: 600px;
  height: 70px;
  border-radius: 10px;
  margin: 0 auto;
}
.partedearriba h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  padding-top: 8px;
}
.guardarcambios{
  background: #004aad;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
  width: 80px; 
  height: 35px;
  margin-left: 50px;
  cursor: pointer;
}
.boton--regresar{
  border-radius: 100%;
  width: 60px;
  position: absolute;
  margin: 20px auto auto 10px;
  cursor: pointer;
}
.guardacambios{
  background: #003270c5;
  color: aliceblue;
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  cursor: pointer;
}